/* Header */

.app-header {
  height: 1rem;
  width: 100%;
  user-select: none;
}

.app-header > .app-title {
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  width: var(--server-list-width);
}

/* Content */

.content {
  width: 100%;
  height: calc(100% - 1rem);
  display: grid;
  grid-template-columns: var(--server-list-width) var(--server-interface-column) auto;
}

/* ServersList */

.servers-list {
  width: var(--server-list-width);
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-icon {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 100%;
  background: var(--chat-color);
  cursor: pointer;
  transition: all 0.1s ease;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.server-icon:hover {
  border-radius: 35%;
}

.server-icon.private {
  margin: 0.4rem 0;
  position: relative;
}

.server-icon.private:hover {
  background: var(--discord-violet);
}

.server-icon::before {
  content: "";
  /*height: 70%; ACTIVE */
  height: 0%;
  width: 6px;
  position: absolute;
  top: 50%;
  left: -22%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 20px;
}

.server-icon:hover::before {
  height: 40%;
  transition: all 0.1s ease;
}

.server-icon.add-server::before {
  height: 0%;
}

.server-icon.private::after {
  content: "";
  width: 65%;
  height: 2px;
  background: var(--chat-color);
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.server-icon.private .logo {
  color: var(--logo-color);
  font-size: 1.6rem;
}

.server-icon.bottom-button {
  display: block;
}

.my-servers {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bottom-button > .icon {
  color: var(--discord-green);
  font-size: 1.4rem;
}

.bottom-button:hover .icon {
  color: #fff;
}

.bottom-button:hover {
  background: var(--discord-green);
}

/* Chats */

.chats {
  height: 100%;
  background: var(--list-color);
  width: var(--server-interface-column);
  user-select: none;
}

.message-search {
  height: var(--top-content-row-height);
  border-bottom: 1px var(--main) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-search > .search-input {
  width: 90%;
  height: 60%;
  background: var(--main);
  border: 0px;
  border-radius: 5px;
  color: var(--font-color);
  text-align: start;
  padding: 0 10px;
  font-weight: b;
  cursor: pointer;
}

.chats > .option-list {
  display: flex;
  flex-direction: column;
}

.chats > .option-list {
  color: var(--font-color);
  padding: 10px;
  gap: 3px;
}

.option-list .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  border-radius: 5px;
  padding: 8px;
  gap: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
}

.option-list .option p {
  font-size: 1rem;
}

.option-list .option:hover {
  background: var(--element-hover);
  color: #fff;
}

.option-list .new-banner {
  position: absolute;
  top: 50%;
  right: 18px;
  font-size: 0.75rem;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 22px;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(136, 74, 192), rgb(165, 89, 147));
}

.star {
  position: absolute;
}

.star.left-star {
  width: 10px;
  height: 10px;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
}

.star.right-star {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-50%);
}

:root {
  --left-star-size: 5px;
  --right-star-size: 7px;
}

.star::before,
.star::after {
  content: "";
  background: #fff;
  position: absolute;
}

.star.left-star::before {
  transform: rotate(45deg) skew(22.5deg, 22.5deg);
  left: 2px;
  bottom: 2px;
  width: var(--left-star-size);
  height: var(--left-star-size);
  animation: left-star 4s infinite alternate-reverse;
}

.star.left-star::after {
  left: 2px;
  bottom: 2px;
  width: var(--left-star-size);
  height: var(--left-star-size);
  transform: rotate(-45deg) skew(22.5deg, 22.5deg);
  animation: left-star 4s infinite alternate-reverse;
}

.star.right-star::before {
  transform: rotate(45deg) skew(22.5deg, 22.5deg);
  right: 0;
  top: 0;
  width: var(--right-star-size);
  height: var(--right-star-size);
}

.star.right-star::after {
  transform: rotate(-45deg) skew(22.5deg, 22.5deg);
  right: 0;
  top: 0;
  width: var(--right-star-size);
  height: var(--right-star-size);
}

/* Chat */

.chat-side {
  width: 100%;
  background: var(--chat-color);
  display: grid;
  grid-template-rows: var(--top-content-row-height) auto;
  grid-template-columns: auto 22.25rem;
  grid-template-areas:
    "nav-bar nav-bar"
    " main-part right-side";
}

/* RightColumn */

.right-column {
  grid-area: right-side;
  height: var(--top-content-row-height);
  border-left: 0.5px rgb(66, 70, 77) solid;
  height: 100%;
}

/* nav-bar */

.nav-bar {
  width: 100%;
  height: var(--top-content-row-height);
  border-bottom: 1px var(--main) solid;
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0 0 0 1.1rem;
  user-select: none;
  position: relative;
}

.nav-bar > .right-side,
.nav-bar > .left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar > .left-side > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-bar > .left-side > .friends {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  min-width: 105px;
  border-right: 1px rgb(66, 70, 77) solid;
}

.nav-bar > .left-side > .friends > .icon {
  color: var(--font-color);
  font-size: 1.4rem;
}

.nav-bar > .left-side > .friends > .title {
  color: #fff;
  font-weight: bold;
}

.nav-bar > .left-side > ul {
  display: flex;
  gap: 16px;
  padding: 1rem;
}

.nav-bar > .left-side .list-element {
  width: max-content;
  padding: 1px 6px;
  font-size: 0.95rem;
  background: transparent;
  border: 2px transparent solid;
  color: var(--font-color);
  cursor: pointer;
  border-radius: 4px;
}

.nav-bar > .left-side .list-element:hover,
.nav-bar > .left-side .list-element.active {
  color: #fff;
  background: var(--element-hover-2);
}

.nav-bar .right-side {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--top-content-row-height);
  background: var(--chat-color);
  border-bottom: 1px var(--main) solid;
}

.nav-bar > .left-side .list-element.add-friend {
  background: rgb(45, 125, 70);
  color: #fff;
}
.nav-bar > .right-side .new-message {
  padding: 0 1.1rem 0 0;
  box-shadow: var(--chat-color) -10px 0px 5px 6px;
  border-right: 1px rgb(66, 70, 77) solid;
}

.nav-bar > .right-side > .right-buttons {
  display: flex;
  gap: 1rem;
  padding: 0 1.1rem;
}

.nav-bar > .right-side button {
  background: transparent;
  border: 0px;
  font-size: 1.5rem;
  display: flex;
  color: var(--font-color);
  cursor: pointer;
}

.nav-bar > .right-side button:hover {
    color: #fff;
}

/* main-part */

.main-part {
  width: 100%;
  height: 100%;
  height: var(--top-content-row-height);
  grid-area: main-part;
  display: block;
  padding: 2rem 1em 1rem 1rem;
}

.main-part .search-aside,
.main-part .active-user-aside {
  width: 100%;
  padding: 0 0.7rem;
  border-radius: 6px;
 
}

.main-part > .active-user-aside:hover {
  background: rgb(66, 70, 77);
}

.main-part > .search-aside > .search-bar-section {
  display: flex;
  align-items: center;
  height: 2rem;
  background: var(--main);
  border-radius: 4px;
  padding: 0 0.5rem;
  gap: 11px;
  justify-content: space-between;
}
.main-part > .search-aside > .search-bar-section > .icon {
  color: var(--font-color);
  font-size: 1.4rem;
}

.main-part > .search-aside > .search-bar-section > .search-bar {
  width: 100%;
  height: 2rem;
  color: var(--font-color);
  font-size: 1rem;
  height: max-content;
  background: var(--main);
  outline: 0px;
  border: 0px;
  transform: translateY(-5%);
}

.main-part > .number-of-online-users {
  color: var(--font-color);
  font-weight: bold;
  font-size: 0.8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
}

.main-part .image-section {
  position: relative;
  width: max-content;
  height: max-content;
}

.main-part .profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
}
.main-part .nick {
  color: #fff;
  font-size: 1rem;
  transform: translateY(-10%);
}

.main-part .status-title {
    font-size: 0.8rem;
    color: var(--font-color);
}

.main-part .active-user {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 3.5rem;
  border-top: 1px rgb(66, 70, 77) solid;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.main-part .active-user:hover {
  background: rgb(66, 70, 77);
}


.main-part .active-user .user-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-user .user-name .user-id {
  color: var(--font-color);
  transform: translateY(-10%);
  font-size: 0.9rem;
  display: none;
}

.active-user:hover .user-name .user-id {
  display: block;
}

.main-part .active-user .buttons {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;

}

.main-part .active-user .button {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--list-color);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  flex-direction: column;
  cursor: pointer;
  gap: 2px;
}

.main-part .active-user:hover .button {
  background: var(--main);
}

.main-part .active-user .button:hover {
  color: #fff;
}

.main-part .active-user .button .icon {
  font-size: 1.2rem;
}

.main-part .active-user .button .circle {
  width: 0.25rem;
  height: 0.25rem;
  background: var(--font-color);
  border-radius: 50%;
}

.main-part .button:hover  .circle {
  background: #fff;
}




/* Right Column */

.right-column {
    padding: 1rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.right-column > .title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.right-column .active-user {
    min-height: 3.9rem;
    width: 100%;
    background: var(--list-color);
    border: 1px  rgb(66, 70, 77) solid;
    border-radius: 7px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.right-column .active-user .left-side {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.right-column .active-user:hover {
    background: rgb(24, 25, 28);
}

.right-column .active-user .image-section {
    width: max-content;
    height: max-content;
    position: relative;
}

.right-column .active-user .profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
}

.right-column .active-user .left-side > .information {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.right-column .active-user .left-side > .information > .nick {
    font-size: 1rem;
    transform: translateY(-10%);
}

.right-column .active-user .left-side > .information > .game {
    font-size: 0.8rem;
    color: var(--font-color);
}

.right-column .active-user > .game-icon {
    width: 1.6rem;
    height: 1.6rem;
}

/* UserStatus*/

.status {
  user-select: none;
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 7px;
  border: 2px var(--list-color) solid;
  overflow: hidden; 


}

.status .offline {
  background: var(--list-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 3px rgb(116, 127, 141) solid;
  border-radius: 50%;

}

.status .idle{
  background: radial-gradient(circle at top left, var(--list-color) 100%, transparent 100%);
  width: 70%;
  height: 70%;
  transform: translateX(-25%) translateY(-25%);
  background: var(--list-color);
  position: absolute;
  border-radius: 50%;
}

.status .do-not-disturb {
  width: 70%;
  height: 2px;
  background: var(--list-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

